<div class="container">

    <div class="row randomized-content">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th scope="key" colspan="1">Title</th>
                    <td scope="value" colspan="1">{{title}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="key" colspan="2">Description</th>
                </tr>
                <tr>
                    <td scope="value" colspan="2">{{description}}</td>
                </tr>
                <tr>
                    <th scope="key" colspan="2">Location</th>
                </tr>
                <tr>
                    <td scope="value" colspan="2">{{location}}</tdh>
                </tr>
                <tr>
                    <th scope="key" colspan="2">Difficulty</th>
                </tr>
                <tr>
                    <td scope="value" colspan="2">{{difficulty}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>